.project-root {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem 1rem;
}

.item-root {
    padding: 30px;
    border: 2px solid var(--primary);
    border-radius: 10px;
}

.item-root:hover {
    background-color: var(--surface-container-high);
}


.title-root {
    display: flex;
    color: var(--on-background);
    flex-direction: column;
    padding-inline: 100px;
    padding-bottom: 30px;
}

.flexDiv {
    display: flex;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
}

.img-desc {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}