.content-edu {
  background-color: var(--primary-container);
  padding-inline: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--on-background);
  padding-block-end: 100px;
}


.item_root-edu {
  display: inline-block;
  position: relative;
  flex-grow: 1;
  margin-inline: 10px;
  padding: 20px;
  background-color: var(--on-secondary);
  border-radius: 10px;
}

.root-ul {
  display: flex;
  justify-content: space-around;
}

.degree-title {
  margin-top: 15px;
  font-size: 26px;
  font-weight: bold;
}

.date-edu {
  margin-block: 10px;
  font-size: 20px;
}

.inistitute {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}