.about-root {
    position: relative;
    background-color: var(--primary-container);
    padding-inline: 100px;


}

.about-row {
    display: flex;
    flex-direction: row;
    color: var(--on-background);
    min-height: 90vh;
}

@media (max-width: 768px) {
    .about-row {
        flex-direction: column-reverse;
    }
}

.left-item {
    padding-inline-end: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;

    h2 {
        font-size: 18pt;
        font-weight: 500;
        line-height: 10px;
    }

    h3 {
        font-size: 22pt;
        font-weight: 600;
    }

    h4 {
        font-size: 16pt;
        line-height: 2.2rem;
        font-weight: lighter;
    }

}


.connect-box {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px .1px 1px var(--shadow);
    color: var(--on-background);
    width: fit-content;
    margin-top: 30px;
    padding-inline: 20px;
}

.export-title {
    font-size: 14pt;
    padding-top: 15px;
    padding-left: 15px;
    font-weight: 600;
}

.right-item {
    width: 380px;
    align-self: center;
}