.about {
    min-height: 100vh;
    position: relative;
    background-color: var(--background-50);
}

.about-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    color: var(--text-950);

}

.about .line-styling {
    position: relative;
    top: 100px;
    left: 50%;
    height: 50px;
    width: 85%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .line-styling .style-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: var(--bg-primary);
}

.about .line-styling .style-line {
    width: 95%;
    height: 5px;
    border-radius: 10px;
    color: var(--bg-primary);

}


/*  */
@media screen and (max-width: 992px) {
    .about-body {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-around;
    }
}

.about-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex: 0.6;
    width: 100%;
    height: fit-content;
}
.about-description >h1, div{
    color: var(--font-color);
}

.btn-secondary {
    margin: 15px;
    border-radius: 10px;
    padding: 20px;
    background-color:var(--primary-50);
    color: var(--font-color);

}

.header-container {
    margin-top: 7rem;
    text-align: center;
}

.about-img {
    width: 380px;
}