@import url('https://fonts.googleapis.com/css?family=Alice:700|Alice:400');

body {
  font-family: 'Alice';
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Alice';
  font-weight: 700;
}


.light {
  --primary: rgb(93 87 145);
  --surface-tint: rgb(93 87 145);
  --on-primary: rgb(255 255 255);
  --primary-container: rgb(228 223 255);
  --on-primary-container: rgb(25 18 73);
  --secondary: rgb(95 92 113);
  --on-secondary: rgb(255 255 255);
  --secondary-container: rgb(228 223 249);
  --on-secondary-container: rgb(27 25 44);
  --tertiary: rgb(123 82 102);
  --on-tertiary: rgb(255 255 255);
  --tertiary-container: rgb(255 216 232);
  --on-tertiary-container: rgb(48 17 34);
  --error: rgb(186 26 26);
  --on-error: rgb(255 255 255);
  --error-container: rgb(255 218 214);
  --on-error-container: rgb(65 0 2);
  --background: rgb(252 248 255);
  --on-background: rgb(28 27 32);
  --surface: rgb(252 248 255);
  --on-surface: rgb(28 27 32);
  --surface-variant: rgb(229 225 236);
  --on-surface-variant: rgb(71 70 79);
  --outline: rgb(120 118 128);
  --outline-variant: rgb(201 197 208);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(49 48 54);
  --inverse-on-surface: rgb(244 239 247);
  --inverse-primary: rgb(198 191 255);
  --primary-fixed: rgb(228 223 255);
  --on-primary-fixed: rgb(25 18 73);
  --primary-fixed-dim: rgb(198 191 255);
  --on-primary-fixed-variant: rgb(69 64 119);
  --secondary-fixed: rgb(228 223 249);
  --on-secondary-fixed: rgb(27 25 44);
  --secondary-fixed-dim: rgb(200 195 220);
  --on-secondary-fixed-variant: rgb(71 68 89);
  --tertiary-fixed: rgb(255 216 232);
  --on-tertiary-fixed: rgb(48 17 34);
  --tertiary-fixed-dim: rgb(236 184 207);
  --on-tertiary-fixed-variant: rgb(97 59 78);
  --surface-dim: rgb(221 216 224);
  --surface-bright: rgb(252 248 255);
  --surface-container-lowest: rgb(255 255 255);
  --surface-container-low: rgb(246 242 250);
  --surface-container: rgb(241 236 244);
  --surface-container-high: rgb(235 230 239);
  --surface-container-highest: rgb(229 225 233);
}


.dark {
  --primary: rgb(198 191 255);
  --surface-tint: rgb(198 191 255);
  --on-primary: rgb(47 41 95);
  --primary-container: rgb(69 64 119);
  --on-primary-container: rgb(228 223 255);
  --secondary: rgb(200 195 220);
  --on-secondary: rgb(48 46 65);
  --secondary-container: rgb(71 68 89);
  --on-secondary-container: rgb(228 223 249);
  --tertiary: rgb(236 184 207);
  --on-tertiary: rgb(72 37 55);
  --tertiary-container: rgb(97 59 78);
  --on-tertiary-container: rgb(255 216 232);
  --error: rgb(255 180 171);
  --on-error: rgb(105 0 5);
  --error-container: rgb(147 0 10);
  --on-error-container: rgb(255 218 214);
  --background: rgb(20 19 24);
  --on-background: rgb(229 225 233);
  --surface: rgb(20 19 24);
  --on-surface: rgb(229 225 233);
  --surface-variant: rgb(71 70 79);
  --on-surface-variant: rgb(201 197 208);
  --outline: rgb(146 143 153);
  --outline-variant: rgb(71 70 79);
  --shadow: rgb(0 0 0);
  --scrim: rgb(0 0 0);
  --inverse-surface: rgb(229 225 233);
  --inverse-on-surface: rgb(49 48 54);
  --inverse-primary: rgb(93 87 145);
  --primary-fixed: rgb(228 223 255);
  --on-primary-fixed: rgb(25 18 73);
  --primary-fixed-dim: rgb(198 191 255);
  --on-primary-fixed-variant: rgb(69 64 119);
  --secondary-fixed: rgb(228 223 249);
  --on-secondary-fixed: rgb(27 25 44);
  --secondary-fixed-dim: rgb(200 195 220);
  --on-secondary-fixed-variant: rgb(71 68 89);
  --tertiary-fixed: rgb(255 216 232);
  --on-tertiary-fixed: rgb(48 17 34);
  --tertiary-fixed-dim: rgb(236 184 207);
  --on-tertiary-fixed-variant: rgb(97 59 78);
  --surface-dim: rgb(20 19 24);
  --surface-bright: rgb(58 56 62);
  --surface-container-lowest: rgb(14 14 19);
  --surface-container-low: rgb(28 27 32);
  --surface-container: rgb(32 31 37);
  --surface-container-high: rgb(42 41 47);
  --surface-container-highest: rgb(53 52 58);
}



html {
  font-size: 100%;
}

/* 16px */

h1 {
  font-size: 4.210rem;
  /* 67.36px */
}

h2 {
  font-size: 3.158rem;
  /* 50.56px */
}

h3 {
  font-size: 2.369rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.750rem;
  /* 12px */
}