.header {
    position: sticky;
    background-color: var(--secondary-100);
    padding: 15px 20px;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img {
    position: relative;
    left: 25%;
}

.img>img {
    height: 30px;
    width: 30px;
}

.right-box {
    position: relative;
    right: 25%;
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.right-box>img {
    padding-inline-start: 30px;
    height: 30px;
    width: 30px;
}

.right-box-item {
    padding-inline: 20px;
    cursor: pointer;
    color: var(--background-950);

}

.r-corner-card {
    color: var(--text-950);
    border-radius: 55px;
    background: var(--accent-300);
    padding-inline: 40px 25px;
    padding-block: 15px;
    width: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    height: 5px;

}

.about-description>a{
    background-color: var(--secondary-300);
}

.r-corner-card::after {
    content: "\2192";
    margin-right: 6px;
    margin-left: 5px;

}