@import url('https://fonts.googleapis.com/css?family=Alice:700|Alice:400');

body {
  font-family: 'Alice';
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Alice';
  font-weight: 700;
}



.light {
  --text-50: #f9eeec;
  --text-100: #f2ddd9;
  --text-200: #e6bbb3;
  --text-300: #d9998c;
  --text-400: #cc7766;
  --text-500: #bf5540;
  --text-600: #994433;
  --text-700: #733326;
  --text-800: #4d2219;
  --text-900: #26110d;
  --text-950: #130806;

  --background-50: #f9efec;
  --background-100: #f2dfd9;
  --background-200: #e6bfb3;
  --background-300: #d99f8c;
  --background-400: #cc7f66;
  --background-500: #bf6040;
  --background-600: #994d33;
  --background-700: #733926;
  --background-800: #4d2619;
  --background-900: #26130d;
  --background-950: #130a06;

  --primary-50: #f9eeeb;
  --primary-100: #f3ded8;
  --primary-200: #e7bdb1;
  --primary-300: #db9c8a;
  --primary-400: #cf7a63;
  --primary-500: #c3593c;
  --primary-600: #9c4730;
  --primary-700: #753624;
  --primary-800: #4e2418;
  --primary-900: #27120c;
  --primary-950: #140906;

  --secondary-50: #f5f9eb;
  --secondary-100: #eaf3d8;
  --secondary-200: #d5e7b1;
  --secondary-300: #c0db8a;
  --secondary-400: #abcf63;
  --secondary-500: #96c33c;
  --secondary-600: #789c30;
  --secondary-700: #5a7524;
  --secondary-800: #3c4e18;
  --secondary-900: #1e270c;
  --secondary-950: #0f1406;

  --accent-50: #eef9eb;
  --accent-100: #ddf3d8;
  --accent-200: #bbe7b1;
  --accent-300: #99db8a;
  --accent-400: #77cf63;
  --accent-500: #55c33c;
  --accent-600: #449c30;
  --accent-700: #337524;
  --accent-800: #224e18;
  --accent-900: #11270c;
  --accent-950: #081406;

}



.dark {
  --text-50: #120907;
  --text-100: #25130e;
  --text-200: #4a251c;
  --text-300: #6f382a;
  --text-400: #944a38;
  --text-500: #b95d46;
  --text-600: #c77d6b;
  --text-700: #d59e90;
  --text-800: #e3beb5;
  --text-900: #f1dfda;
  --text-950: #f8efed;

  --background-50: #120907;
  --background-100: #25130e;
  --background-200: #4a251c;
  --background-300: #6f382a;
  --background-400: #944a38;
  --background-500: #b95d46;
  --background-600: #c77d6b;
  --background-700: #d59e90;
  --background-800: #e3beb5;
  --background-900: #f1dfda;
  --background-950: #f8efed;

  --primary-50: #140906;
  --primary-100: #27120c;
  --primary-200: #4e2418;
  --primary-300: #753624;
  --primary-400: #9c4730;
  --primary-500: #c3593c;
  --primary-600: #cf7a63;
  --primary-700: #db9c8a;
  --primary-800: #e7bdb1;
  --primary-900: #f3ded8;
  --primary-950: #f9eeeb;

  --secondary-50: #0f1406;
  --secondary-100: #1e270c;
  --secondary-200: #3c4e18;
  --secondary-300: #5a7524;
  --secondary-400: #789c30;
  --secondary-500: #96c33c;
  --secondary-600: #abcf63;
  --secondary-700: #c0db8a;
  --secondary-800: #d5e7b1;
  --secondary-900: #eaf3d8;
  --secondary-950: #f5f9eb;

  --accent-50: #081406;
  --accent-100: #11270c;
  --accent-200: #224e18;
  --accent-300: #337524;
  --accent-400: #449c30;
  --accent-500: #55c33c;
  --accent-600: #77cf63;
  --accent-700: #99db8a;
  --accent-800: #bbe7b1;
  --accent-900: #ddf3d8;
  --accent-950: #eef9eb;
}





html {
  font-size: 100%;
}

/* 16px */

h1 {
  font-size: 4.210rem;
  /* 67.36px */
}

h2 {
  font-size: 3.158rem;
  /* 50.56px */
}

h3 {
  font-size: 2.369rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.750rem;
  /* 12px */
}