@import url('https://fonts.googleapis.com/css?family=Alice:700|Alice:400');

body {
  font-family: 'Alice';
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Alice';
  font-weight: 700;
}



.light {

  --text-50: #f3e9fc;
  --text-100: #e7d3f8;
  --text-200: #cfa6f2;
  --text-300: #b67aeb;
  --text-400: #9e4ee4;
  --text-500: #8621de;
  --text-600: #6b1bb1;
  --text-700: #501485;
  --text-800: #360d59;
  --text-900: #1b072c;
  --text-950: #0d0316;

  --background-50: #f2e9fc;
  --background-100: #e5d2f9;
  --background-200: #cca6f2;
  --background-300: #b279ec;
  --background-400: #994ce6;
  --background-500: #7f20df;
  --background-600: #6619b3;
  --background-700: #4c1386;
  --background-800: #330d59;
  --background-900: #19062d;
  --background-950: #0d0316;

  --primary-50: #f2e9fb;
  --primary-100: #e5d3f8;
  --primary-200: #cca7f1;
  --primary-300: #b27bea;
  --primary-400: #9950e2;
  --primary-500: #7f24db;
  --primary-600: #661daf;
  --primary-700: #4c1584;
  --primary-800: #330e58;
  --primary-900: #19072c;
  --primary-950: #0d0416;

  --secondary-50: #fbefe9;
  --secondary-100: #f8ded3;
  --secondary-200: #f1bda7;
  --secondary-300: #ea9c7b;
  --secondary-400: #e27c50;
  --secondary-500: #db5b24;
  --secondary-600: #af491d;
  --secondary-700: #843615;
  --secondary-800: #58240e;
  --secondary-900: #2c1207;
  --secondary-950: #160904;

  --accent-50: #fbf9e9;
  --accent-100: #f8f3d3;
  --accent-200: #f0e7a8;
  --accent-300: #e9da7c;
  --accent-400: #e1ce51;
  --accent-500: #dac225;
  --accent-600: #ae9b1e;
  --accent-700: #837416;
  --accent-800: #574e0f;
  --accent-900: #2c2707;
  --accent-950: #161304;

}



.dark {
  --text-50: #0d0316;
  --text-100: #1b062d;
  --text-200: #360c5a;
  --text-300: #501287;
  --text-400: #6b18b4;
  --text-500: #861fe0;
  --text-600: #9e4be7;
  --text-700: #b678ed;
  --text-800: #cfa5f3;
  --text-900: #e7d2f9;
  --text-950: #f3e9fc;

  --background-50: #0d0317;
  --background-100: #19052e;
  --background-200: #330a5c;
  --background-300: #4c0f8a;
  --background-400: #6614b8;
  --background-500: #7f19e6;
  --background-600: #9947eb;
  --background-700: #b275f0;
  --background-800: #cca3f5;
  --background-900: #e5d1fa;
  --background-950: #f2e8fc;

  --primary-50: #0d0416;
  --primary-100: #19072c;
  --primary-200: #330e58;
  --primary-300: #4c1584;
  --primary-400: #661daf;
  --primary-500: #7f24db;
  --primary-600: #9950e2;
  --primary-700: #b27bea;
  --primary-800: #cca7f1;
  --primary-900: #e5d3f8;
  --primary-950: #f2e9fb;

  --secondary-50: #160904;
  --secondary-100: #2c1207;
  --secondary-200: #58240e;
  --secondary-300: #843615;
  --secondary-400: #af491d;
  --secondary-500: #db5b24;
  --secondary-600: #e27c50;
  --secondary-700: #ea9c7b;
  --secondary-800: #f1bda7;
  --secondary-900: #f8ded3;
  --secondary-950: #fbefe9;

  --accent-50: #161304;
  --accent-100: #2c2707;
  --accent-200: #574e0f;
  --accent-300: #837416;
  --accent-400: #ae9b1e;
  --accent-500: #dac225;
  --accent-600: #e1ce51;
  --accent-700: #e9da7c;
  --accent-800: #f0e7a8;
  --accent-900: #f8f3d3;
  --accent-950: #fbf9e9;
}





html {
  font-size: 100%;
}

/* 16px */

h1 {
  font-size: 4.210rem;
  /* 67.36px */
}

h2 {
  font-size: 3.158rem;
  /* 50.56px */
}

h3 {
  font-size: 2.369rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.750rem;
  /* 12px */
}